NODE_ENV=dev*or*prod
HOST=ExampleData
PORT=ExampleData
USERNAME=ExampleData
PASSWORD=ExampleData
DATABASE_NAME=ExampleData
VERSION_ROUTE=ExampleData
JWT_SECRET=ExampleData---Must Be seconds---120
JWT_SECRET_REFRESH=ExampleData---Must be hours---8h